main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

header .logo {
  height: 150px;
  position: fixed;
  top: 0px;
  left: 5px;
  text-align: left;
  border: none;
  
}

.t{
  font-size: 0rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  border: solid 6px;
}


.carousel img {
  justify-content: center;
  height: min-vh-100;
  width: min-vh-100;
  padding: 1px;
  
  
  
}
.carousel a {
  margin: 0 auto;
}

.jumbotron {
  background-image:url('/images/fan1.jpg');
  height:300px;
  width: 800px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  border-bottom:1px solid white
}
.jumbotron .container {
  position:relative;
  top:50px;
}





.product-image {
  width: 10%;
  display: block;
  height: auto;
}





  .zoom {
    position: absolute;
    left: 100%;
    top: 100%;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
 
  hr.solid {
    border-top: 3px solid #bbb;
  
  }

.card-body{
  width: 50%;
  
}