main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

header .logo {
  height: 150px;
  position: fixed;
  top: 0px;
  left: 5px;
  text-align: left;
  
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  border: solid 6px;
}


.carousel img {
  justify-content: center;
  height: min-vh-100;
  width: min-vh-100;
  padding: 1px;
  
  
  
}
.carousel a {
  margin: 0 auto;
}
