main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

header .logo {
  height: 150px;
  position: fixed;
  top: 0px;
  left: 5px;
  text-align: left;
  
}